target/
.vscode/
.idea/
node_modules
.df
test_status.json
.venv
__pycache__
.pytest_cache
coverage
cobertura.xml
codecov
codecov.*
.DS_Store
._.DS_Store 
**/.DS_Store 
**/._.DS_Store
.claude
CLAUDE.md
